body {
    font-size:1em;
    padding:0em;
    padding-top:0em;
    margin:1em;
    max-width:40em;
}
h1{text-align:left;}
h2,h3 {
    line-height:1.2em;
}
div.publications li {
    margin:0 0 7px 0;
}
p{
    line-height:1.5em;
    font-size:1em;
    margin-top:1.5em;
    margin-bottom:1.5em;
    margin-left: .5em;
}
#bibliography table {
    margin-left: 0.5em;
}
@media print {
    body {
	max-width:none
    }
}
