*
!.gitignore
!FUNDING.yml
!CNAME
!favicon.ico

# Files
!*.org
!*.bib
!*.html
!*.pdf
!*.css
!*.js

# source code
!*.rkt

# images
!*.svg
!*.svgz
!*.jpg
!*.png

# videos
!*.mp4
!*.webm


# Directories
!bib/
!bib/OwnPublications/
!blog/
!blog/ltximg/
!images/
!css/
!js/
!src/
!*/

