*
!.gitignore
!CNAME
!favicon.ico

# Files
!*.org
!*.bib
!*.html
!*.pdf
!*.css
!*.js

# images
!*.svg
!*.svgz
!*.jpg
!*.png


# Directories
!bib/
!bib/OwnPublications/
!blog/
!blog/ltxpng/
!images/
!css/
!js/

